html, body {
  font-family: "TikTok Sans", system-ui, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;           
  display: flex;
  flex-direction: column; /* columna vertical: navbar + contenido + footer */
  overflow-x: hidden;     /* sin scroll horizontal */
  overflow-y: auto;       /* scroll vertical global */
}

main, .page-content {
  flex: 1;
}

* {
  box-sizing: border-box;
}
