#section4 {
  width: 100%;
  min-height: 90vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

#form-title {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  font-family: "Titkok Sans", system-ui, sans-serif;
}

.row {
  display: flex;
  gap: 5px;
  width: 100%;
}

.row .group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.forms-section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forms-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 25px;
  border-radius: 16px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffff6e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  box-sizing: border-box;
}

.forms-caps {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.forms-input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  font-size: 0.8rem;
  border: 1px solid #ffffff6e;
  border-radius: 50px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.forms-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 650;
}

.forms-input:focus {
  border: 1px solid #00b7ff;
  background-color: rgba(255, 255, 255, 0.15);
}

/* select especial para países */
.custom-select {
  position: relative;
  width: 100%;
  max-width: 330px;
  border: 1px solid #ffffff6e;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 650;
  font-family: "TikTok Sans", system-ui, sans-serif;
}

.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
  font: inherit;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
}

.custom-select .selected {
  background-color: rgba(255,255,255,0.1);
  color: rgba(255, 255, 255, 0.4);
  padding: 10px 40px 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  user-select: none;
  position: relative;

  /* FLECHA SVG */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 6L9 1' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 12px;
}

.custom-select .options {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.6);
  border-radius: 16px;
  display: none;
  flex-direction: column;
  z-index: 10;
}

.custom-select .options div {
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
}

.custom-select .options div:hover {
  background-color: rgba(255,255,255,0.1);
}

/* botón principal */ 
.forms-submit {
  position: relative;
  width: 60%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 25px;
  font-size: 1rem;
  font-family: "Tiktok Sans", system-ui, sans-serif;
  font-weight: 650;
  cursor: pointer;
  margin: 0 auto;
}

.forms-submit span {
  position: relative;
  z-index: 1;
}

.forms-submit::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: #272727;
  border-radius: 25px;
  transition: 0.5s;
}

.forms-submit:hover::before {
  opacity: 0.7;
}

.forms-submit::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 25px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.forms-submit:hover:after {
  opacity: 1;
}

.forms-box,
.forms-box input,
.forms-box select,
.forms-box button {
  font-family: "TikTok Sans", system-ui, sans-serif;
}
