#section3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 80px 0;
  box-sizing: border-box;
  background: transparent;
}

.product-box {
  width: 300px;
  height: 300px;
  margin: 0 auto 40px auto;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ffffff6e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px) saturate(180%);
  -webkit-backdrop-filter: blur(15px) saturate(180%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.inner-box {
  width: 100%;
  height: 82%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-circle {
  width: 170px;
  height: 170px;
  background-color: #1919e6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.image-circle img {
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: cover;
  border-radius: 0;
  z-index: 2;
}

.product-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 7px !important;
}

.shop-btn {
  width: 35px;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 10px !important;
}

.shop-btn svg {
  width: 20px;
  height: 20px;
  fill: black;
}

.section-hidden {
  display: none !important;
}

/* Desktop */

@media (min-width: 1024px) {
  #section3 {
    width: 100%;
    height: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
  }

  .product-box {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff6e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }

  .inner-box {
    width: 100%;
    height: 82%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-circle {
    width: 170px;
    height: 170px;
    background-color: #1919e6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
  }

  .image-circle img {
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 0;
    z-index: 2;
    transition: transform 0.3s ease;
  }

  .image-circle img:hover {
    transform: scale(1.2);
  }


  .product-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 7px !important;
  }

  .shop-btn {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 10px !important;
    overflow: visible;
  }

  .shop-btn::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.6s ease;
    z-index: -1;
  }

  .shop-btn:hover::before {
    opacity: 1;
  }

  .shop-btn svg {
    width: 20px;
    height: 20px;
    fill: black;
    position: relative;
  }

}
